<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #f3cc3f; padding :8px">
    <h1 style="color: black;">Medium</h1>
    <h3 style=" color: white;">Discover Stories, Articles and Research Work from GLA Students.</h3>
  </nav>

<br>
<button style="margin: 20px;"><a href="/products/new">Add New Articles</a></button>